border-1px($color)
  position :relative
  &:after
    position :absolute
    left :0px
    bottom :0px
    width :100%
    border-top: 1px solid $color
    content :''
border-none()
  &:after
    display :none
bg-img($url)
  background-image:url($url+"@2x.png")
  @media (-webkit-min-device-pixel-radio:3.0),(min-device-pixel-radio:3.0)
    background-image:url($url+"@3x.png")
